<!DOCTYPE html>
   <html lang="en-US">

<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css"
    rel="stylesheet" type="text/css">


<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>

   <body>

       <h1>Epilepsy as a MeSH Major Topic Over Time</h1>

       <p> Below is a simple chart of the number of articles containing the MeSH term
        "epilepsy" published every year from 2000 to 2016.</p>

       {{ script|safe }}

       {{ div|safe }}

   </body>

   </html>